<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
		<base href="/">
		<title>#Nowplaying</title>
	</head>
	<body>

		<header class="site-header">
			<section class="site-title">
				<section class="container">
					<h1>#nowplaying</h1>
					<p>This page shows #nowplaying tweets that contain a youtube link. It also allows you to post a #nowplaying tweet with a YouTube link.</p>
				</section>
			</section>
			<section class="site-portrait"></section>
		</header>

		<nav class="row site-twitter-poster">
			<section class="container">
				<form class="panel-body" name="tweetForm">
					<fieldset>
						<section class="form-group col-xs-4 form_video_url">
							<input type="text" class="form-control" name="videoUrl" required placeholder="Video Url" data-ng-model="twitter.formData.videoUrl">
						</section>
						<section class="form-group col-xs-6 form_comment">
							<input type="text" class="form-control" name="comment" required placeholder="Comment" data-ng-model="twitter.formData.comment">
						</section>
						<section class="form-group col-xs-2 form_button">
							<button type="button" class="btn btn-primary form-group" ng-click="twitter.createTweet(tweetForm)">
								<i class="fa fa-twitter"></i>
								Tweet to #nowplaying
							</button>
						</section>
					</fieldset>
				</form>
			</section>
		</nav>

		<main class="container" data-ng-controller="Twitter as twitter">
			<section class="tweet_grid_container">
				<article class="col-sm-6 tweet_container" ng-repeat="tweet in twitter.tweets track by tweet.id">
					<twitter-widget twitter-widget-id="tweet.id_str"></twitter-widget>
				</article>
			</section>
		</main>

		<footer class="site-footer">
			<p>Frontend Lab made by @joseospina47</p>
		</footer>

	</body>
</html>
