<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
		<base href="/">
		<title>#Nowplaying</title>
	</head>
	<body>
		<div class="container" data-ng-controller="Twitter as twitter">

			<header class="row">
				<div class="col-xs-12">
					<h1>#nowplaying</h1>
					<p>This page shows #nowplaying tweets that contain a youtube link. It also allows you to post a #nowplaying tweet with a YouTube link.</p>
				</div>
			</header>

			<hr>
			<nav class="row">
				<div class="col-xs-12">
					<form class="panel-body" name="tweetForm">
						<div class="form-group col-xs-4">
							<input type="text" class="form-control" name="videoUrl" required placeholder="Video Url" data-ng-model="twitter.formData.videoUrl">
							<span class="label label-danger" ng-if="twitter.submitted && tweetForm.videoUrl.$error.required">Required</span>
						</div>
						<div class="form-group col-xs-6">
							<input type="text" class="form-control" name="comment" required placeholder="Comment" data-ng-model="twitter.formData.comment">
							<span class="label label-danger" ng-if="twitter.submitted && tweetForm.comment.$error.required">Required</span>
						</div>
						<div class="form-group col-xs-2">
							<button type="button" class="btn btn-primary form-group" ng-click="twitter.createTweet(tweetForm)">
  							<i class="fa fa-twitter"></i>
  							Tweet to #nowplaying
							</button>
						</div>
					</form>
				</div>
			</nav>

			<hr>
			<section>
				<div class="row">
					<div class="col-sm-6 tweet_container" ng-repeat="tweet in twitter.tweets track by tweet.id">
						<twitter-widget twitter-widget-id="tweet.id_str"></twitter-widget>
					</div>
				</div>
			</section>

		</div>
	</body>
</html>
