/** Fonts and Icons **/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/** General Styles **/
body{
  font-family: 'Roboto', sans-serif;
}

.tweet_container{
  height: 540px !important;
  margin-bottom:  30px;
}
