/** Fonts and Icons **/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/** General Styles **/
body{
  font-family: 'Roboto', sans-serif;
}

/** Tweets **/
.tweet_grid_container{
  text-align: center;
}

.tweet_container{
  display: inline-block;
  float: inherit;
  vertical-align: top;
}

.form-group {
    margin-bottom: 0px;
}


/** Responsive **/
@media (max-width: 1200px) {
  .form_comment {
    width: 33.33333333%;
  }
  .form_button {
    width: 33.33333333%;
  }
}

@media (max-width: 620px) {
  .form_video_url, .form_comment  {
    width:100%;
    margin-bottom: 10px;
  }
  .form_button {
    width:100%;
  }
}
